/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 0px;
  background-image: url("../images/bg02.jpeg");
  
}

footer {
  padding: 20px;
  margin-top: 10px;
  background-image: url("../images/bg01.jpeg");
  color: #fff;
}
/*mudança footer- inicio*/


footer ul {
  list-style-type: none;
  margin-left: -40px;

}

footer ul li a {

  width: auto;
  color: #fff;
  
}
footer ul li a:hover{
  color:#0c6005;
}


#sociais a {
  padding-left: 5px;
 
}
#sociais {
   margin-top: 10px;
}


/*mudança footer - fim*/


.list-group-item{
  background-image: url("../images/bg01.jpeg");
  color: #fff !important;
  font-weight: normal;
  padding: 6px 15px;
}

/* ------------------------------ 
Modificações gerais

*/

#portal-topo{
  background: url("../images/bg01.jpeg");
  color: #fff;
  margin-top: 5px;
}

#portal-logo{
    padding-left: 30px;
    margin-top: 5px;
  }
 #menu-principal{
  margin-top: 0px;
 }
#portal-banner{
  margin-top: 0px;
}
.navbar-default{ /* Altura do navbar para o banner-principal*/
  margin-bottom: 5px;
}
#menu-inferior{  /* abaixo do banner-principal, visivel somente para resoluções menores que 991px*/
  background: url("../images/bg01.jpeg");
  margin-top: 5px;
  text-align: center;
}
#menu-inferior .list-group .list-group-item{ /* Margem dos itens do menu-inferior*/
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
  }

/* Para resoluções até 360px */

@media (max-width: 360px) {

  #portal-topo{
    background: url("../images/bg320-360px.png");
  }
  #portal-logo{
    margin-top: 10px;
  }
  #menu-inferior{  /* Menor inferior para resoluções até 360px*/
    font-size: 8px;
  }
}

/* Para resoluções de 361px a 767px */

@media (min-width: 361px) and (max-width: 767px){

  #portal-topo{
    background: url("../images/bg768-991px.png");
  }
}

/* Para resoluções menores que 768*/

@media (max-width: 767px){

  #portal-logo{
    display: block;
  }

  #btn-menu-principal{    /* Botão do menu principal (ICON-BAR), quandO reduzido até 767px*/
    background: url("../images/bg01.jpeg");
  }
  #btn-menu-lateral{    /* Botão do menu lateral - ao clicá-lo aparece o list-grou (MENU LATERAL) */ 
    background: url("../images/bg01.jpeg");
  }


  
}

.bg{
  background: url("../images/bg01.jpeg");
}

/* Para resoluções  de 768 a 991px */

@media (min-width: 768px) and (max-width: 991px){

  #portal-topo{
    background: url("../images/bg768-991px.png");
  
  }

  #menu-principal{      /* Navbar - menu-principal */
    font-size: 8px;
  }

  #menu-lateral{        /* List-group - menu-lateral ou inferior */
    font-size: 10px;
  }
  #btn-menu-lateral{    /* Botão do menu lateral - ao clicá-lo aparece o list-grou (MENU LATERAL) */           
    background: url("../images/bg01.jpeg");
  }
  
}

/* Para resoluções de 992 a 1199px */

@media (min-width: 992px) and (max-width: 1199px) {
    #portal-topo{
      background: url("../images/bg992-1199px.png");
    }

    #menu-principal{     /* Navbar */
    font-size: 11px;
  }

  #menu-lateral{         /* List-group */
    font-size: 10px;
  }

    .navbar-default{      /* Margem inferior do menu-principal - navbar*/
    margin-bottom: 5px;
  }
}

/* Para resoluções a partir de 1200px */

@media (min-width: 1200px){

  #portal-topo{
    background: url("../images/bg1280mais.png");
  }
  .navbar-default{        /* Margem inferior do menu*/
    margin-bottom: 5px;
  }
}

/*  barra brasil-inicio - arquivos:ai.png,brasil1.png,bbrasil.png, bbrasil.gif ; */
#bbrasil .informacao {
    background: url("../images/ai.png") no-repeat scroll 0 4px #004b82;
    display: block;
    height: 28px;
    text-indent: -1000px;
    width: 161px;
}
#bbrasil .brasil {
    background: url("../images/brasil1.png") no-repeat scroll 0 4px #004b82;
    display: block;
    height: 28px;
    text-indent: -1000px;
    width: 108px;
}
#bbrasil a:hover {
    border: medium none;
}


#bbrasil {
    background: url("../images/bbrasil.png") no-repeat scroll center bottom #004b82;
    
    overflow: hidden;
    position: relative;
}

#bbrasil .barra {
    background: url("../images/bbrasil.gif") repeat-x scroll 0 bottom rgba(0, 0, 0, 0);
    display: block;
    height: 28px;
    margin: 0 auto;
    
}
#bbrasil .barra ul {
    float: right;
    margin: 0;
    padding: 0;
    width: 319px;
}
#bbrasil .barra ul li {
    float: left;
    list-style-type: none;
    padding-left: 25px;
}
/*  barra brasil-fim */

/*
 * Off Canvas
 * --------------------------------------------------
 */

@media screen and (max-width: 767px) { /* Alterei de max-width de  para 991px */

   #portal_link{
      padding-top: 0;
   }

     .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .selected > a {
  background-image: linear-gradient(to bottom, #080808 0px, #0f0f0f 100%);
  background-repeat: repeat-x;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25) inset;
}

.navbar-inverse .navbar-nav > .selected > a, .navbar-inverse .navbar-nav > .selected > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #080808; // fundo Preto
  color: #fff; // cor branco
}

/* MOdificação no menu horizontal */

.navbar .navbar-inverse{
  background: green;
}


.navbar .navbar-collapse li:hover{
  background: green;

}

.navbar-inverse {
  background-color: #fff;
  border-color: #fff;
}

