/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 0px;
  background-image: url("../images/bg02.jpeg");
}

footer {
  padding: 20px;
  margin-top: 10px;
  background-image: url("../images/bg01.jpeg");
  color: #fff;
}
/*mudança footer- inicio*/


footer ul {
  list-style-type: none;
  margin-left: -40px;

}

footer ul li a {

  width: auto;
  color: #fff;
  
}
footer ul li a:hover{
  color:#0c6005;
}


#sociais a {
  padding-left: 5px;
 
}
#sociais {
   margin-top: 10px;
}


/*mudança footer - fim*/


.list-group-item{
  background-image: url("../images/bg01.jpeg");
  color: #fff !important;
  font-weight: normal;
  padding: 6px 15px;
}

#portal-topo{
  background: url("../images/bg03.jpeg") repeat-x;
  margin-top: -15px;
}



@media (min-width: 981px) {
    #menu{
      padding-top:10em;
    }
}

/*  barra brasil-inicio - arquivos:ai.png,brasil1.png,bbrasil.png, bbrasil.gif ; */
#bbrasil .informacao {
    background: url("../images/ai.png") no-repeat scroll 0 4px #004b82;
    display: block;
    height: 28px;
    text-indent: -1000px;
    width: 161px;
}
#bbrasil .brasil {
    background: url("../images/brasil1.png") no-repeat scroll 0 4px #004b82;
    display: block;
    height: 28px;
    text-indent: -1000px;
    width: 108px;
}
#bbrasil a:hover {
    border: medium none;
}


#bbrasil {
    background: url("../images/bbrasil.png") no-repeat scroll center bottom #004b82;
    
    overflow: hidden;
    position: relative;
}

#bbrasil .barra {
    background: url("../images/bbrasil.gif") repeat-x scroll 0 bottom rgba(0, 0, 0, 0);
    display: block;
    height: 28px;
    margin: 0 auto;
    
}
#bbrasil .barra ul {
    float: right;
    margin: 0;
    padding: 0;
    width: 319px;
}
#bbrasil .barra ul li {
    float: left;
    list-style-type: none;
    padding-left: 25px;
}
/*  barra brasil-fim */

/*
 * Off Canvas
 * --------------------------------------------------
 */

@media screen and (max-width: 767px) {

   #portal_link{
      padding-top: 0;
   }

   #portal-topo{
    background: none;
   }

  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .selected > a {
  background-image: linear-gradient(to bottom, #080808 0px, #0f0f0f 100%);
  background-repeat: repeat-x;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25) inset;
}

.navbar-inverse .navbar-nav > .selected > a, .navbar-inverse .navbar-nav > .selected > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #080808;
  color: #fff;
}